@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap%27");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: url("img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
nav {
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #242424;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    z-index: 1000;
    border-bottom: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
nav .logo {
    height: 110px;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
    background: #5900ff;
}

nav .menu-btn i {
    color: #fff;
    cursor: pointer;
    display: none;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.slides {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 100%;
    position: relative;
    transition: 1.5s;
}
.slide img {
    width: 100vw;
    height: 75vh;
}
.manual-nav {
    position: absolute;
    width: 1900px;
    margin-top: -300px;
    display: flex;
    justify-content: center;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -100%;
}
#radio3:checked ~ .first {
    margin-left: -200%;
}
#radio4:checked ~ .first {
    margin-left: -300%;
}
#radio5:checked ~ .first {
    margin-left: -400%;
}
.nav-auto div {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 100px;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    margin-left: 30px;
    transition: 1.5s;
}
.nav-auto {
    position: absolute;
    width: 100vw;
    display: flex;
    margin-top: 40rem;
    justify-content: center;
    color: #5900ff;
}
.nav-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #fff;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .nav-auto .auto-btn4 {
    background-color: #fff;
}
#radio5:checked ~ .nav-auto .auto-btn5 {
    background-color: #fff;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: white;
    margin-left: 200px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}
.card {
    width: 300px;
    height: 400px;
    background-color: #242424;
    margin: 50px 100px 100px 100px;
    border-radius: 20px;
    justify-content: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.imagem {
    display: flex;
    justify-content: center;
}
.mar {
    border-radius: 35%;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.titulo {
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: center;
}
.desc {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 100px;
    border-color: #5900ff;
}
.divmapa {
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
}
.mapa {
    position: relative;
    width: 100%;
    height: 107%;
    top: -68px;
    border: none;
}
footer {
    width: 100%;
    min-height: 260px;
    background: #242424;
    display: flex;
    justify-content: center;
}
footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}
footer .boxs:nth-child(4) {
    width: 400px;
}
.boxs h2 {
    color: #fff;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}
.boxs ul li a {
    color: #ddd;
    text-decoration: none;
}
.boxs ul li a:hover {
    color: #fff;
}
.boxs p {
    color: #fff;
    text-align: justify;
}
.footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 0px 20px;
}
.footer .sociais {
    display: flex;
}
.sociais .social {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #ddd;
    margin: 10px;
    cursor: pointer;
    transition: background 0.3s linear;
}
.sociais .social a {
    color: #000;
    font-size: 1.5em;
    transition: background 0.3s linear;
}
.sociais .social:hover {
    background: #444;
}
.sociais .social:hover a {
    color: #fff;
}
@media (max-width: 950px) {
    nav .menu-btn i {
        display: block;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #242424;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: #5900ff;
    }
    footer {
        flex-direction: column;
    }
    footer .boxs {
        width: 100%;
        text-align: center;
    }
    footer .boxs:nth-child(4) {
        width: 100%;
    }
}
